@font-face {
    font-family: Helvetica;
    src: url(../fonts/Helvetica/HelveticaRegular.ttf);
   }
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

body{
	padding: 20%;
	background-color: #212121 !important;
	font-family: Helvetica;
}

h4{
	color: #ffffff;
}

h5{
	color: #e0dbdb;
	padding: 22px 0px;
}

.highcharts-credits, .highcharts-button, .highcharts-axis-title, .highcharts-title{
	display: none !important;
}

.modal-content {
    background-color: #262626;
    border: 1px solid #2980be;
}

.modal-dialog {
    width: 80%;}

.modal-header {
    padding: 15px;
	border-bottom: 0px;
}
.modal-open .modal {
    overflow-x: hidden;
}

.padding-modal{
	padding-left: 0px !important;
}

.nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #2980be;
    cursor: default;
    border-bottom:  3px solid #2980be;
    background-color: transparent;
    border-left: none;
    border-right: none;
    border-top: none;
}
.close{
    color: #fff;
}

.close, .close:focus, .close:hover {
    color: #fff;
}

.nav-tabs {
    border-bottom: 1px solid #333;
}
.nav-tabs>li.active>a{
    color: #444;
    cursor: default;
    border-bottom:  3px solid #2980be;
    border-left: none;
    border-right: none;
    border-top: none;
}


.nav-tabs>li>a {
	border: none;
}

.nav>li>a {
    padding: 5px 10px;
    color: #444;
    font-weight: bold;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
 	background-color: transparent;
}

.nav-tabs>li.active>a{
	border: none;
	border-bottom: 3px solid #2980be;
	background-color: transparent;
	color: #2980be;
}

.highcharts-axis-line{
	stroke: #444;
}


/***************************table******************************************/

.dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_paginate{
	display: none;
}

.table-bordered{
    border: 1px solid #444;
}



.table-bordered>thead>tr>th{
	border: 1px solid #444;
	color: #444;
}

input{
	width: 90%;
	border: 1px solid #444;
	background: none;
	border-radius: 2px;
}

.bgn{
	background: #353535;
}

.sorting-none:after{
	display: none;
}

table.dataTable thead .sorting_desc:after, .sorting_asc:after {
    color: #2980be;
    top: 1px;
}

thead .sorting:after{
	top: 1px;
}

.button-style{
	background: #353535;
    border: 1px solid #404040;
    color: white;
    border-radius: 4px;
    padding: 2px 4px;
    width: 100%;
    margin-top: 1px;
    margin-bottom: -1px;
    }

input[type=search] {
    background: #353535;
    border: 1px solid #404040;
    width: 100%;
}

.padding-zerro{
	padding-right: 0px;
	padding-left: 0px;
}

.filter{
    color: #6d6d6d;
    padding: 0px 0px;
    background: none;
    font-size: 15px;
    border: 0px;
}

.table>thead>tr>th{
	padding: 0px 1px 2px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #262626;
}

.table-bordered>tbody>tr>td{
	border: 1px solid #444;
	color: #444;
	font-weight: bold;
	padding: 0px 4px;
}

.table>tbody>tr>td{
	    vertical-align: middle;
}

.color-green{
	color: #17c517;
	font-size: 23px;
}
.alignt{
	color: #2980be;
	font-size: 10px;
}

.tooltip-1{
	color: #444;
	font-size: 23px;
}

.red-text{
	color: #ac3741;
}

.info{
	color: #2980be;
	font-size: 23px;
}

div.alignt p{
	margin: 18px 7px 18px;
}